.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 10px;
    bottom: 0px;
    width: 220px;
    z-index: 2000;
    overflow-y: auto;
}

.sidebar-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 15px 0px 35px;
    gap: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    padding: 5px 10px 5px 5px;
}

.sidebar-elements:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
}


.top-sidebar, .middle-sidebar, .bottom-sidebar {
    border-bottom: solid rgb(194, 187, 187) 1px;
    padding-bottom: 10px;
    margin-left: -20px;
}

.middle-sidebar {
    margin-top: 5px;
    padding-bottom: 20px;
}
